<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap com desktop desktop4 desktop5">

  <Identity Name="Tonarink.App" Publisher="CN=kusutori" Version="1.0.2.0" />

  <Properties>
    <DisplayName>Tonarink</DisplayName>
    <PublisherDisplayName>Tonarink</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
    <Resource Language="zh-cn" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="Tonarink.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Tonarink"
        Description="An unofficial LocalSend-compatible app for nearby file and text transfers."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          ShortName="Tonarink"
          Square71x71Logo="Assets\Square71x71Logo.png"
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square310x310Logo="Assets\Square310x310Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Send with Tonarink">
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>StorageItems</uap:DataFormat>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>Uri</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="tonarink">
            <uap:DisplayName>Tonarink</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="Tonarink.exe"
          EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="TonarinkStartup"
            Enabled="false"
            DisplayName="Tonarink" />
        </uap5:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer
              DisplayName="Tonarink"
              AppId="8840B22A-3B9C-4C12-A7D5-3019438A5F1F">
              <com:Class
                Id="8840B22A-3B9C-4C12-A7D5-3019438A5F1F"
                Path="Tonarink.ExplorerCommand.dll"
                ThreadingModel="STA" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation
            ToastActivatorCLSID="89632005-D013-4771-BA98-D53DEC9C974D" />
        </desktop:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="Tonarink.exe"
              Arguments="----AppNotificationActivated:"
              DisplayName="Tonarink">
              <com:Class
                Id="89632005-D013-4771-BA98-D53DEC9C974D"
                DisplayName="Tonarink" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb
                Id="SendWithTonarink"
                Clsid="8840B22A-3B9C-4C12-A7D5-3019438A5F1F" />
            </desktop5:ItemType>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb
                Id="SendWithTonarink"
                Clsid="8840B22A-3B9C-4C12-A7D5-3019438A5F1F" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
