<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <PackAsTool>false</PackAsTool>
    <SelfContained>true</SelfContained>
    <PublishDir>$(MSBuildProjectDirectory)\..\..\artifacts\publish\cli\win-arm64\</PublishDir>
  </PropertyGroup>
</Project>
